{% extends 'base.html' %}
{% block title %}AlgoConfig{% endblock %}

{% block content %}
<style>
    .floating-button {
        position: fixed;
        top: 120px;
        right: 30px;
        background-color: #5195e2;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        z-index: 1000;
    }
    
    .floating-button:hover {
        background-color: #0055af;
    }
</style>
<a href="https://slam-hive.net/wiki/parameter" class="floating-button"  target="_blank">Wiki Link</a>

<br>
<table>

    <tbody>
        <tr>
            <td>Name(fixed):</td>
            <td>the unique ID of the parameter template. Recommended Name rule: [Algorithm Simple Name/"general"]+[default key].</td>
        </tr>
        <tr>
            <td>key:</td>
            <td>the default key of the parameter.</td>
        </tr>
        <tr>
            <td>value:</td>
            <td>the default value of the parameter.</td>
        </tr>
        <tr>
            <td>value type:</td>
            <td>the default value type of the parameter.</td>
        </tr>

        <tr>
            <td>Parameter Type(fixed):</td>
            <td>the parameter type</td>
        </tr>
        <tr>
            <td>Algorithm/Dataset Name:</td>
            <td>the default value</td>
        </tr>
        
    </tbody>
</table>

    
<br>
<h4>Name and Parameter Type is fixed as long as you create the parameter template. And others are the example values. When you create detial parameter in configuraion, you can specify the right value.</h4>
    <br>
    {% if version == 'workstation' or version == 'cluster' or version == 'aliyun' %}
        <div style="text-align:center">
            <a class="button" href="{{ url_for('create_algoparam') }}">
                <input class="btn btn-primary" type="submit" value="New" >
            </a>
        </div>
    {% endif %}
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <!-- <th>Decription</th> -->
                <th>Key</th>
                <th>Value</th>
                <th>Value Type</th>
                <th>Parameter Type</th>
                <!-- <th>Algorithm/Dataset</th> -->
                <th>Algorithm/Dataset Name</th>
                {% if version == 'workstation' or version == 'cluster' or version == 'aliyun' %}
                    <th>Copy</th>
                    <th>Modify</th>
                    <th>Delete</th>
                {%endif%}
            </tr>
        </thead>
        <tbody>    
            {% for param in params %}
                <tr>
                    <td>{{ param.id }}</td>
                    <td>{{ param.name }}</td>
                    <!-- <td style="max-width: 300px; word-break: break-all;"><pre style="max-width: 300px; word-break: break-all;">{{param.description}}</pre> </td> -->
                    <td>{{param.keyName}}   </td>
                    <td>{{param.value}}   </td>
                    <td>{{param.valueType}}   </td>
                    <td>{{param.paramType}}   </td>
                    <!-- {% if param.classType == 0 %}
                        <td>Algorithm</td>
                    {% else %}
                        <td>Dataset</td>
                    {% endif %} -->
                    <td>{{param.className}}   </td>
                    {% if version == 'workstation' or version == 'cluster' or version == 'aliyun' %}
                        <td>
                            <a class="button" href="{{ url_for('copy_algoparam', id=param.id) }}">
                                <input class="btn btn-primary" type="submit" value="Copy" >
                            </a>
                        </td>
                        <td>
                            <a class="button" href="{{ url_for('modify_algoparam', id=param.id) }}">
                                <input class="btn btn-primary" type="submit" value="Modify" >
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{{ url_for('delete_algoparam', id=param.id) }}">
                                {{ form.csrf_token }} 
                                {{ form.submit(class="btn btn-primary", onclick="return confirm('Are you sure?');") }} 
                            </form>  
                        </td>
                    {%endif%}
                </tr> 
            {% endfor %}     
        </tbody>
    </table>
{% endblock %}
