{% extends 'base.html' %}
{% block title %}MappingTaskConfig{% endblock %}
{% block content %}
    <br>
    <h5 style="text-align: center"><b>Mapping Task Configuration Copy&Modify</b></h5>
    <br>
    <p><b>Step 1： Algorihtm & Dataset Selection</b></p> 
    <div class="form-group">
        <label>Algorithm Selection</label>
        <select autofocus name="algo_id" class='form-control'>
            <option selected="selected" value="{{config.algorithm.id}}">{{config.algorithm.imageTag}} (default)</option> 
            {% for algo in algos %}
                {% if algo.id != config.algorithm.id %}
                    <option value="{{algo.id}}">{{algo.imageTag}}</option> 
                {% endif %}     
            {% endfor %} 
        </select>
    </div>
    <div class="form-group">
        <label>Dataset Selection</label>
        <select autofocus name="dataset_id" class='form-control'>
            <option selected="selected" value="{{config.dataset.id}}">{{config.dataset.name}} (default)</option> 
            {% for dataset in datasets %}
                {% if dataset.id != config.dataset.id %}
                    <option value="{{dataset.id}}">{{dataset.name}}</option> 
                {% endif %}     
            {% endfor %} 
        </select>
    </div>

    <br><p><b>Step 2： Configuration Naming </b></p>
    <div class="form-group">
        <label>Mapping Task Configuration Name</label>
        <input type="text" name="name" id="configName" class='form-control' required>
    </div> 

    <div class="form-group">
        <label>Description</label>
        <textarea rows="5" name="description" id="configDescription" class='form-control'></textarea>
    </div>
    <br>

    <br><p><b>Step 3： Parameter Selection & Input Corresponding Parameter Value</b></p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th >Description</th>
                <th>Type</th>
                <th>Selection </th>
                <th>Value </th>
            </tr>
        </thead>
        <tbody>
            {% set list_ = [] %}
            {% for paramValue in config.paramValues %}
                <tr>
                    <td class="paramId">{{ paramValue.algoParam.id }}</td>
                    <td >{{ paramValue.algoParam.name }}</td>
                    <td><pre>{{paramValue.algoParam.description}}</pre></td>
                    <td>{{paramValue.algoParam.paramType}}   </td>
                    <td><input class="selected" type="checkbox" checked="checked"></td>
                    <td width="500px"><textarea rows="8" cols="50" class="value" value="{{paramValue.value}}">{{paramValue.value}}</textarea></td>
                </tr>
                {% if list_.append(paramValue.algoParam.id) %}
                {% endif %}
            {% endfor %} 
            {% for parameter in parameters %}    
                {% if parameter.id not in list_ %}
                    <tr>
                        <td class="paramId">{{ parameter.id }}</td>
                        <td >{{ parameter.name }}</td>
                        <td><pre>{{parameter.description}}</pre> </td>
                        <td>{{parameter.paramType}}   </td>
                        <td><input class="selected" type="checkbox"></td>
                        <td width="500px"><textarea rows="8" cols="50" class="value"></textarea></td>
                    </tr>
                {% endif %}        
            {% endfor %} 
        </tbody>
    </table>  

    <button id="button" onclick="btnfun()" class='btn btn-primary'>Save</button>
    <a class="button" href="{{ url_for('index_config') }}">
        <input class="btn btn-primary" type="submit" value="Return" >
    </a> 
{% endblock %}


{% block scripts %}    
    <script>
        $(function(){
            $('#button').click(function(){
                var selected = document.getElementsByClassName("selected");
                var values_json = {};
                var k = 0;
                var format_check = true;
                var reg_exp_common = /^[0-9a-zA-Z_/]+[:]\s[-0-9a-zA-Z_./]+$/m;//regular expression
                var reg_exp_matrix = /^[0-9a-zA-Z_]+:\s\[-*[0-9.]+([,]\s*-*[0-9.]+)+\]$/g;
                //record selected parametr values
                for(var i=0; i<selected.length; i++){
                    var paramID = $('#paramId').text();
                    // alert("paramId="+paramID);//seleted_algo=id
                    if(selected[i].checked){
                        values_json[k] = {};
                        values_json[k]['parameterID'] = document.getElementsByClassName("paramId")[i].innerHTML;
                        values_json[k]['value'] = document.getElementsByClassName("value")[i].value;
                        // Verify that the values_json[k]['value'] string satisfies the yaml format
                        var is_common = reg_exp_common.test(values_json[k]['value']);//Regular expression test() method, return value Boolean
                        var is_matrix = reg_exp_matrix.test(values_json[k]['value']);
                        if(!is_common && !is_matrix){
                            format_check = false;
                            alert("Format of \'" + values_json[k]['value'] + "\' is wrong!");
                            break;
                        }
                        k=k+1;
                    }        
                }
                if(format_check){
                    //record MappingTaskConfig Name & Description
                    values_json[k] = {};
                    values_json[k]['MappingTaskConfig_Name'] = document.getElementById('configName').value;
                    values_json[k]['MappingTaskConfig_Description'] = document.getElementById('configDescription').value;
                    //record algorihtm ID, dataset ID
                    values_json[k+1] = {};
                    values_json[k+1]['Algorithm_Id'] = $('select[name="algo_id"]').val();
                    values_json[k+1]['Dataset_Id'] = $('select[name="dataset_id"]').val();
                    var parameter_values = JSON.stringify(values_json);
                    // alert("submit form, parameter_values="+parameter_values);//seleted_algo=id
                    $.ajax(
                        {
                            url: '/config/create/submit',
                            type: 'post',
                            dataType: 'json',
                            data: parameter_values,
                            success: function(data){
                                alert("Save successfully!");
                                btnfun();
                            }
                        }
                    )
                }
            });       
        })

        

    </script>
    <script>
        function btnfun(){
            $('#button').attr('disabled', 'disabled');
        }
    </script>
{% endblock %}