{% extends 'base.html' %}
{% from 'bootstrap4/form.html' import render_field, render_form %}
{% block title %}CustomAnalysis{% endblock %}

{% block content %}
    <br>  
    <style>
        .floating-button {
            position: fixed;
            top: 120px;
            right: 30px;
            background-color: #5195e2;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            z-index: 1000;
        }
        
        .floating-button:hover {
            background-color: #0055af;
        }
    </style>
    <a href="https://slam-hive.net/wiki/customanalysis" class="floating-button"  target="_blank">Wiki Link</a>
    
    {% if NO_USE_ANALYSIS == "no"%}
        <div>
            <h4>Create new Custom Analysis Task</h4>
        </div>
        <table class="table table-bordered" sytle="border-collapse: collapse;" >
            <thead>
                <tr>
                    <th>Button</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>    
                    <tr>
                        <td >
                            <div style="text-align:left;">
                                <a class="button" href="{{ url_for('create_analysis_group') }}" >
                                    <input class="btn btn-primary" type="submit" value="Create Analysis" >
                                </a>
                            </div>
                        </td>
                        <td >Create a Custom Analysis task. You can input your yaml file and we will create related analysis results for you.</td>
                    </tr>  
            </tbody>
        </table>

        <br>
        <div style="text-align:left;">
            <a class="button" href="{{ url_for('download_custom_analysis_list') }}" download="custom_analysis_list.txt" >
                <input class="btn btn-primary" type="submit" value="Download custom ayalysis list" style="background-color:rgb(74, 153, 226)" >
            </a>
            <p style="color: red;"> Note: If you don't get the analysis task ID after creating finish (maybe caused by brower difference), you can click to download all 'timestamp : group_name' to check your ID. </p>
        </div>
        <br>
    {%endif%}

    <br>
    <div>
        <h4>Task List</h4>
        <h5>View existing Custom Analysis tasks result</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Create time</th>
                    <th>Name</th>
                    <th>Show</th>
                </tr>
            </thead>
            <tbody>    
                {% for i in range(length) %}
                    <tr>
                        <td class="groupId">{{ group_dict["id"][i] }}</td>
                        <td>{{ group_dict["time"][i] }}</td>
                        <td>{{ group_dict["name"][i] }}</td>
                    
                        
                        <td>
                            <a class="button" href="{{ url_for('show_custom_analysis', id=group_dict['id'][i]) }}">
                                <input class='btn btn-default btn-sm' type="submit" value="Show Detials" >
                            </a>
                        </td>
                        
        
        
                        
                    </tr> 
                {% endfor %}     
            </tbody>
        </table>
    </div> 
    


    <div id="list">   
    </div>

{% endblock %}   

{% block scripts %}    
    <script>

        function search(){
            algo_list = $('select[name="algo_id"]').val();
            dataset_list = $('select[name="dataset_id"]').val();
            parameters = document.getElementById('parameter_id').value;
            // console.log(algo_list)
            // console.log(dataset_list)
            // console.log(parameters)
            var values_json = {};
            values_json['algo_list'] = algo_list
            values_json['dataset_list'] = dataset_list
            values_json['parameters'] = parameters
            var parameter_values = JSON.stringify(values_json);
            

            $.ajax(
                        {
                            url: '/config/search/submit',
                            type: 'post',
                            dataType: 'json',
                            data: parameter_values,
                            complete: function(data){
                                console.log(data.responseText)
                                $('#list').html(data.responseText)
                                // console.log(data.data)
                                // ret = data.data
                                // cards = document.getElementsByName("config_card")
                                // // console.log(cards.length)
                                // for(i = 0; i < cards.length; i++)
                                // {
                                //     console.log(parseInt(cards[i].id), ret.indexOf(parseInt(cards[i].id)))
                                    
                                //     if(ret.indexOf(parseInt(cards[i].id)) == -1)
                                //     {
                                //         cards[i].style.display = 'none'
                                //     } else {
                                //         cards[i].style.display = 'block'
                                //     }
                                // }
                                alert("Save successfully!");
                            }
                        }
                    )
            
            // var httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
            // httpRequest.open('POST', "/config/search/submit", true); //第二步：打开连接/***发送json格式文件必须设置请求头 ；如下 - */
            // httpRequest.setRequestHeader("Content-type","application/json");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）var obj = { name: 'zhansgan', age: 18 };
            // httpRequest.send(parameter_values);//发送请求 将json写入send中
        }
        function createMappingTask_single(id){
            url = '/mappingtask/create/single/' + id.toString()
            $.ajax(
                        {
                            url: url,
                            type: 'post',
                            dataType: 'json',
                            data: id,
                            success: function(data){
                                if(data.result == 'success') {
                                    alert("Save successfully!")
                                } else if (data.result == 'exist') {
                                    alert("Already exist!")
                                } else if(data.result == 'version error') {
                                    alert("Version error!")
                                }
                            }
                        }
                    )
        }
        function createFakeMappingTask_single(id){
            url = '/mappingtask/create/single/fake/' + id.toString()
            $.ajax(
                        {
                            url: url,
                            type: 'post',
                            dataType: 'json',
                            data: id,
                            success: function(data){
                                if(data.result == 'success') {
                                    alert("Save successfully!")
                                } 
                                else if(data.result == 'version error') {
                                    alert("Version error!")
                                }
                            }
                        }
                    )
        }
        function createMappingTask(id){
            url = '/mappingtask/create/' + id.toString()
            $.ajax(
                        {
                            url: url,
                            type: 'post',
                            dataType: 'json',
                            data: id,
                            success: function(data){
                                if(data.result == 'success') {
                                    alert("Save successfully!")
                                } else if (data.result == 'exist') {
                                    alert("Already exist!")
                                } else if(data.result == 'version error') {
                                    alert("Version error!")
                                }
                            }
                        }
                    )
        }
        function createFakeMappingTask(id){
            url = '/mappingtask/create/fake/' + id.toString()
            $.ajax(
                        {
                            url: url,
                            type: 'post',
                            dataType: 'json',
                            data: id,
                            success: function(data){
                                if(data.result == 'success') {
                                    alert("Save successfully!")
                                } else if (data.result == 'exist') {
                                    alert("Already exist!")
                                } else if(data.result == 'version error') {
                                    alert("Version error!")
                                }
                            }
                        }
                    )
        }
        function createBatchOfMappingTask(){
            var selected = document.getElementsByClassName("selected");
            var values_json = {};
            var k = 0;
            // record selected parametr values
            console.log(selected.length)
            for(var i=0; i<selected.length; i++){
                // alert("paramId="+paramID);//seleted_algo=id
                if(selected[i].checked){
                    values_json[k] = {};
                    console.log(document.getElementsByClassName("configId")[i].innerHTML.split(':')[1])
                    values_json[k]['parameterID'] = document.getElementsByClassName("configId")[i].innerHTML.split(':')[1];
                    // Verify that the values_json[k]['value'] string satisfies the yaml format
                    k=k+1;
                }        
            }
            if(k == 0) {
                // no selected
                alert("Please select at least 1 config!")
            } else {
                // create 
                var parameter_values = JSON.stringify(values_json);
                    // alert("submit form, parameter_values="+parameter_values);//seleted_algo=id
                    $.ajax(
                        {
                            url: '/mappingtask/create/batch',
                            type: 'post',
                            dataType: 'json',
                            data: parameter_values,
                            success: function(data){
                                if(data.result == 'success') {
                                    alert("Save successfully!")
                                } else if (data.result == 'exist') {
                                    alert("Already exist!")
                                } else if(data.result == 'version error') {
                                    alert("Version error!")
                                }
                            }
                        }
                    )
            }
        }
        function createBatchOfMappingTaskAliyun(){
            var selected = document.getElementsByClassName("selected");
            var values_json = {};
            var k = 0;
            // record selected parametr values
            console.log(selected.length)
            for(var i=0; i<selected.length; i++){
                // alert("paramId="+paramID);//seleted_algo=id
                if(selected[i].checked){
                    values_json[k] = {};
                    console.log(document.getElementsByClassName("configId")[i].innerHTML.split(':')[1])
                    values_json[k]['parameterID'] = document.getElementsByClassName("configId")[i].innerHTML.split(':')[1];
                    // Verify that the values_json[k]['value'] string satisfies the yaml format
                    k=k+1;
                }        
            }
            if(k == 0) {
                // no selected
                alert("Please select at least 1 config!")
            } else {
                // create 

                //Aliyun configuration
                disk_size = document.getElementById("disk_size").value;
                disk_category = document.getElementById("disk_category").value;
                disk_performance_level = document.getElementById("disk_performance_level").value

                instance_type = document.getElementById("instance_type").value;
                instance_image_id = document.getElementById("instance_image_id").value;
                instance_security_group_id = document.getElementById("instance_security_group_id").value;

                values_json[k] = {}
                values_json[k]['disk_size'] = disk_size
                values_json[k]['disk_category'] = disk_category
                values_json[k]['disk_performance_level'] = disk_performance_level
                values_json[k]['instance_type'] = instance_type
                values_json[k]['instance_image_id'] = instance_image_id
                values_json[k]['instance_security_group_id'] = instance_security_group_id


                var parameter_values = JSON.stringify(values_json);
                    // alert("submit form, parameter_values="+parameter_values);//seleted_algo=id
                    $.ajax(
                        {
                            url: '/mappingtask/create/batch_aliyun',
                            type: 'post',
                            dataType: 'json',
                            data: parameter_values,
                            success: function(data){
                                if(data.result == 'success') {
                                    alert("Save successfully!")
                                } else if (data.result == 'exist') {
                                    alert("Already exist!")
                                } else if(data.result == 'version error') {
                                    alert("Version error!")
                                }
                            }
                        }
                    )
            }
        }
    </script>
{% endblock %}



      
      
      
     




    

  



